// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$roed: #2d0d10;
$roedLys: #501011;
$hvid: white;
$sort: black;

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1 {
  font-family: 'Stardos Stencil', cursive;
  color: $sort;
  font-size: 45pt;
  text-align: center;
}

h2 {
  font-family: 'Stardos Stencil', cursive;
  color: $hvid;
  font-size: 20pt;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Arial', sans-serif;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.nyheder {

}

.videoSlideshowContainer {
  max-width: 1000px;
  position: relative;
  margin: auto
}

.videoSlideshow {
  display: none;
}

.naeste, .forrige {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $hvid;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.naeste {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.forrige:hover, .naeste:hover {
  background-color: rgba(0,0,0,0.8);
}

.videoSlideText {
  color: $hvid;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
}

.videoSlideNumbertext {
  color: $hvid;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.videoSlideshowTextContainer {
  display: inline-block;
  transition: background-color 0.6s ease;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.backGroundImage{
  background-image: url("../images/darkBG.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content{
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.4);
}

button{
  background-color: $roedLys;
  color: $hvid;
  font-family: 'Stardos Stencil', cursive;
  border: none;
  border-radius: 25px;
  width: 60%;
  cursor: pointer;
}

button:hover{
  background-color: $roed;
}

.blog{
  h3{
    font-family: 'Stardos Stencil', cursive;
  }
  ol li{
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  background-image: url("../images/blogBG.jpg");
}

header{
  background-color: $roedLys;
  width: 100%;
  height: auto;
  flex-direction: row;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.logo{
  height: 50%;
  width: 50%;

}

.menu{
  height: 15%;
  width: 15%;
  float: right;
  padding-top: 12px;

}

  footer{
  background-color: $roedLys;
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 12px;
  justify-content: space-between;


  p{
    color: $hvid;
  }


  .someIkoner{
    color: $hvid;
  }

}







@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil



}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}