// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$roed: #2d0d10;
$roedLys: #501011;
$hvid: white;
$sort: black;

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1 {
  font-family: 'Stardos Stencil', cursive;
  color: $sort;
  font-size: 45pt;
}

h2 {
  font-family: 'Stardos Stencil', cursive;
  color: $hvid;
  font-size: 20pt;
}

h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Arial', sans-serif;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

button{
  background-color: $roedLys;
  color: $hvid;
  font-family: 'Stardos Stencil', cursive;
  border: none;
  border-radius: 25px;
  width: 60%;
  cursor: pointer;
}

button:hover{
  background-color: $roed;
}

.blog{
  h3{
    font-family: 'Stardos Stencil', cursive;
  }
  ol li{
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
  }
  .flex{
    display: flex;
    justify-content: space-around;
  }
  background-image: url("../images/blogBG.jpg");
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}